:root {
    --secondary-color: #fa9d1b;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    padding-bottom: 60px;
}

h1,
p {
    margin: 0;
}

.roboto-slab-robotoSlab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.black-gradient {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55));
    z-index: 1;
}

#cart {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 5%;
    right: -20%;
    z-index: 4;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}

#carrito-section {
    position: fixed;
    height: 0;
    width: 0;
    bottom: 5%;
    right: 5%;
    z-index: 3;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 0 120px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#carrito-section::-webkit-scrollbar {
    display: none; /* Oculta scrollbar en navegadores WebKit */
}

.cart-items-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    position: relative;
}

/*PRODUCTOS DEL CARRITO*/

.cart-product {
    display: flex;
    max-width: 85%;
    max-height: 20%;
    padding: 0px 8px 0px 4px;
    background-color: #f0f4f8;
    /* border: 1px solid black; */
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 16px;
    margin: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-20px);
    opacity: 0;
}

.cart-product.visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-out;
}

.cart-product-img {
    height: 100%;
    width: auto;
    max-width: 80px; /* opcional si querés limitar el ancho */
    object-fit: contain; /* o 'cover', según lo que quieras */
    display: block;
}

.delete-product {
    background-color: #e32424;
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 8px;
    color: white;
}

.mensaje-vacio {
    color: #cccccc;
    opacity: 0;
    position: absolute;
    top: 20%;
    transition: all 1.2s linear;
}

.cart-resume {
    width: 100%;
    min-height: 50px;
    background-color: #f0f4f8;
}

.cart-product-btn {
    background-color: var(--secondary-color);
    border: none;
    height: 82%;
    width: calc(90% - 50px);
    margin-left: 8%;
    border-radius: 16px;
    margin: 5px 0px 5px 8%;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.cart-product-detail {
    position: absolute;
    bottom: 0;
    font-size: 0.6rem;
    color: #c0c0c0;
    opacity: 0.6;
}

.card-product-inputnum-container {
    display: none;
    position: absolute;
    bottom: -32px;
    justify-content: center;
    height: 30%;
    text-align: center;
    gap: 10px;
}

.card-product-inputnum-container input {
    width: 20%;
    text-align: center;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
}

.btn-input {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    aspect-ratio: 1/1;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------Primer pagina o header----------------*/
.header {
    background-image: url(Assets/Pics/Background.png);

    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.title-container {
    margin-top: 15vh;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 1.6rem;
    font-style: italic;
}

.contact-img-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.contact-img {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

.contact-btn {
    /*border: 2px solid white;*/
    position: absolute;
    z-index: 3;
    height: 165px;
    width: 300px;
    transform: rotate(4deg);
    bottom: 9vh;
    right: 5vw;
    cursor: pointer;
}

/*--------Products Section-------------*/

.product-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-section h2 {
    margin: 50px 0px;
    font-size: 2.4rem;
}

.product-container {
    width: 80%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    margin: 40px 0px;
    position: relative;
}

.product-img {
    height: 65%;
}

.product-name {
    font-size: 1.8rem;
    padding: 0 5px;
    margin: 0;
    height: 20%;
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.product-price {
    font-size: 1.2rem;
    height: 15%;
    font-style: italic;
}

.add-product-btn {
    position: absolute;
    bottom: 4%;
    right: 8%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.6rem;
}

.add-product-btn.clicked {
    animation: pop-up 0.3s ease;
}

.view-btn {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    border-radius: 16px;
    padding: 16px;
    font-weight: bold;
}

/*--------------------KEYFRAMES----------------------*/

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pop-up {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
